<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
<!-- Header & Navbar -->
    <%- include('./component/navbar') %>
<!-- Post Section -->
    <section class="post-section">
        <!-- Owner Profile -->
         <% if (message.ownerProfile) { %>
            <div class="profile-section">
                <img src="<%- message.ownerProfile.profile %>" alt="" class="owner-profile-img">
                <span class="owner-username"><%- message.ownerProfile.name %></span>
                
                <% if (user && (user.id.toString() === message.ownerProfile._id.toString())){ %>
                    <label for="active-profile-pop-up" class="profile-update-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg>
                    </label>
                <% } %>
            </div>
         <% } %>

        <!-- Post -->
         <% posts.forEach((post,index) => { %>
            <div class="post"> 
                <div class="post-profile">
                    <a href="/?profile=<%- post.author.id %>"><img src="<%- post.author.profile %>"></a>
                    <a href="/?profile=<%- post.author.id %>"><%- post.author.name %></a>
                    
                    <% if (message.ownerProfile && user && (user.id.toString() === post.author._id.toString())){ %>
                        <div class="post-edit-btn-container">
                            <label class="post-update-btn" for="active-post-pop-up" dataof="<%- post.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg>
                            </label>
                            <form class="post-delete-btn" action="/deletePost/<%- post.id %>" method="POST">
                                <button type="submit" class="post-delete-btn" ><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></button>
                            </form>
                        </div>
                    <% } %>
                </div>
                <div class="post-content">
                    <div dataof="<%- index %>" class="text">
                        <%- post.content %>
                    </div>
                    <img dataof="<%- index %>" src="<%- post.img %>" alt="">
                </div>
                <div class="post-like">
                    <div class="post-like-status">
                        <span class="like-status">
                            <img src="img/banana-icon.png" alt="">
                            <span>1</span>
                        </span>
                        <span class="notlike-status">
                            <img src="img/poop-icon.png" alt="">
                            <span>101</span>
                        </span>
                    </div>
                    <div class="btn-container">
                        <form action="">
                            <button type="submit">
                                <img src="img/banana-icon.png" alt="">
                                Give Banana
                            </button>
                        </form>
                        <form action="">
                            <button type="submit">
                                <img src="img/poop-icon.png" alt="">
                                Throw Poo
                            </button>
                        </form>
                    </div>
                </div>
            </div>
         <% }) %>
    </section>

    <!-- Require Login -->
    <% if (user){ %>
        <!-- Profile Pop-up -->
        <%- include('./component/profilePopUp') %>
        <!-- Post Pop-up -->
        <%- include('./component/postPopUp') %>
    <% } %>
    
    <!-- Status Message -->
    <%- include('./component/snackbarMsg') %>
    
    <script type="module" src="js/index.js"></script>
</body>

</html>